<div class="container">
  <div class="row card-flex card-hover ">
    <div class="card-wrapper col ">
      <!-- card header start -->
      <div class="card-img-wrapper">
        <div class="card-header-img">
          <img src="../../../assets/img/JavaScript-Course-Title-Pic2.jpg" alt="">
        </div>
      </div>
      <!-- card header start -->
      <!-- card body start -->

      <div class="card-body">
        <p class="card-p">

          Yazılım Geliştirici Yetiştirme Kampı (JavaScript)

        </p>
        <div class="width">
          <div class="progress-bar">
            <span class="progress-bar-fill" style="width: 83%;"></span>
          </div>
        </div>
      </div>
      <!-- card body end -->

      <!-- card footer start -->
      <div class="card-footer-wrapper">
        <div class="card-footer-left">
          <img src="../../../assets/img/card-footer-img.jpg" alt="">
          <p>Engin Demiroğ</p>
        </div>

        <div class="card-footer-right">
          <p>83%</p>
          <p>TAMAMLANDI</p>
        </div>


      </div>

      <!-- card footer end -->



    </div>
    <div class="card-wrapper col">
      <!-- card header start -->
      <div class="card-img-wrapper">
        <div class="card-header-img">
          <img src="../../../assets/img/JavaScript-Course-Title-Pic2.jpg" alt="">
        </div>
      </div>
      <!-- card header start -->
      <!-- card body start -->

      <div class="card-body">
        <p class="card-p">

          Yazılım Geliştirici Yetiştirme Kampı (JavaScript)

        </p>
        <div class="width">
          <div class="progress-bar">
            <span class="progress-bar-fill" style="width: 83%;"></span>
          </div>
        </div>
      </div>
      <!-- card body end -->

      <!-- card footer start -->
      <div class="card-footer-wrapper">
        <div class="card-footer-left">
          <img src="../../../assets/img/card-footer-img.jpg" alt="">
          <p>Engin Demiroğ</p>
        </div>

        <div class="card-footer-right">
          <p>83%</p>
          <p>TAMAMLANDI</p>
        </div>


      </div>

      <!-- card footer end -->



    </div>
    <div class="card-wrapper col">
      <!-- card header start -->
      <div class="card-img-wrapper">
        <div class="card-header-img">
          <img src="../../../assets/img/JavaScript-Course-Title-Pic2.jpg" alt="">
        </div>
      </div>
      <!-- card header start -->
      <!-- card body start -->

      <div class="card-body">
        <p class="card-p">

          Yazılım Geliştirici Yetiştirme Kampı (JavaScript)

        </p>
        <div class="width">
          <div class="progress-bar">
            <span class="progress-bar-fill" style="width: 83%;"></span>
          </div>
        </div>
      </div>
      <!-- card body end -->

      <!-- card footer start -->
      <div class="card-footer-wrapper">
        <div class="card-footer-left">
          <img src="../../../assets/img/card-footer-img.jpg" alt="">
          <p>Engin Demiroğ</p>
        </div>

        <div class="card-footer-right">
          <p>83%</p>
          <p>TAMAMLANDI</p>
        </div>


      </div>

      <!-- card footer end -->



    </div>
  </div>

  <div class="row card-flex">
    <div class="card-wrapper col">
      <!-- card header start -->
      <div class="card-img-wrapper">
        <div class="card-header-img">
          <img src="../../../assets/img/JavaScript-Course-Title-Pic2.jpg" alt="">
        </div>
      </div>
      <!-- card header start -->
      <!-- card body start -->

      <div class="card-body">
        <p class="card-p">

          Yazılım Geliştirici Yetiştirme Kampı (JavaScript)

        </p>
        <div class="width">
          <div class="progress-bar">
            <span class="progress-bar-fill" style="width: 83%;"></span>
          </div>
        </div>
      </div>
      <!-- card body end -->

      <!-- card footer start -->
      <div class="card-footer-wrapper">
        <div class="card-footer-left">
          <img src="../../../assets/img/card-footer-img.jpg" alt="">
          <p>Engin Demiroğ</p>
        </div>

        <div class="card-footer-right">
          <p>83%</p>
          <p>TAMAMLANDI</p>
        </div>


      </div>

      <!-- card footer end -->



    </div>
    <div class="card-wrapper col">
      <!-- card header start -->
      <div class="card-img-wrapper">
        <div class="card-header-img">
          <img src="../../../assets/img/JavaScript-Course-Title-Pic2.jpg" alt="">
        </div>
      </div>
      <!-- card header start -->
      <!-- card body start -->

      <div class="card-body">
        <p class="card-p">

          Yazılım Geliştirici Yetiştirme Kampı (JavaScript)

        </p>
        <div class="width">
          <div class="progress-bar">
            <span class="progress-bar-fill" style="width: 83%;"></span>
          </div>
        </div>
      </div>
      <!-- card body end -->

      <!-- card footer start -->
      <div class="card-footer-wrapper">
        <div class="card-footer-left">
          <img src="../../../assets/img/card-footer-img.jpg" alt="">
          <p>Engin Demiroğ</p>
        </div>

        <div class="card-footer-right">
          <p>83%</p>
          <p>TAMAMLANDI</p>
        </div>


      </div>

      <!-- card footer end -->



    </div>
    <div class="card-wrapper col">
      <!-- card header start -->
      <div class="card-img-wrapper">
        <div class="card-header-img">
          <img src="../../../assets/img/JavaScript-Course-Title-Pic2.jpg" alt="">
        </div>
      </div>
      <!-- card header start -->
      <!-- card body start -->

      <div class="card-body">
        <p class="card-p">

          Yazılım Geliştirici Yetiştirme Kampı (JavaScript)

        </p>
        <div class="width">
          <div class="progress-bar">
            <span class="progress-bar-fill" style="width: 83%;"></span>
          </div>
        </div>
      </div>
      <!-- card body end -->

      <!-- card footer start -->
      <div class="card-footer-wrapper">
        <div class="card-footer-left">
          <img src="../../../assets/img/card-footer-img.jpg" alt="">
          <p>Engin Demiroğ</p>
        </div>

        <div class="card-footer-right">
          <p>83%</p>
          <p>TAMAMLANDI</p>
        </div>


      </div>

      <!-- card footer end -->



    </div>
  </div>
</div>
