.footer-ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
  padding: 3rem;
}

.footer-ul li a {
  all: unset;
  color: #bac1c7;
}

.footer-ul li:nth-child(2) {
  display: flex;
  flex-direction: column;
}
