<div class="background">

  <nav class="container flex">


    <!-- ****** logo start ******* -->
    <a class="margin-right" routerLink="">
      <img class="logo" src="assets/img/Engin Demiroğ Logo Çalışması 9000x2000.png" alt="">
    </a>
    <!-- ****** logo end ******* -->

    <!-- ****** nav list start ******* -->


    <ul class="flex">
      <li class="padding color">Kurslarım</li>
      <li class="padding color">Tüm Kurslar</li>
      <li class="padding color">Kampa Hazırlık</li>
      <li class="padding color">Sık Sorulan Sorular</li>
      <li class="padding color">
        <img class="profile-photo" src="assets/img/profile-photo.jpg" alt="profile-photo">
        <ul>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
        </ul>
      </li>
    </ul>
    <!-- ****** nav list end ******* -->

    <!-- ****** hamburger menu start ******* -->


    <!-- ****** hamburger menu end ******* -->





  </nav>

</div>
